<!DOCTYPE html>
<html>
<head>
    <title>Suivi Pokémon Stock</title>
</head>
<body>
    <h1>Surveillance de stock Pokémon</h1>
    <form method="post">
  <input type="text" name="url" placeholder="Lien du produit" required>
  <input type="number" step="0.01" name="max_price" placeholder="Prix max (€)" required>
  <button type="submit">Ajouter</button>
</form>
   <ul>
  {% for item in links %}
    <li>{{ item.url }} — Max: {{ item.max_price }} €
        <a href="/delete/{{ loop.index0 }}">❌</a>
    </li>
  {% endfor %}
</ul>
</body>
</html>
